<h1><%= @notification.subject %></h1>

<table>
  <%- Notification.column_names.each do |attr| %>
  <tr>
    <td><%= @notification.class.human_attribute_name(attr) %></td>
    <td><%= @notification.send(attr) %></td>
  </tr>
  <% end %>
</table>
