<h1><%= @user.name %></h1>

<table>
  <%- User.column_names.each do |attr| %>
  <tr>
    <td><%= @user.class.human_attribute_name(attr) %></td>
    <td><%= @user.send(attr) %></td>
  </tr>
  <% end %>
</table>
