<h1><%= @task.subject %></h1>

<table>
  <%- Task.column_names.each do |attr| %>
  <tr>
    <td><%= @task.class.human_attribute_name(attr) %></td>
    <td><%= @task.send(attr) %></td>
  </tr>
  <% end %>
</table>
